body{
    background-color: #1c9fb6;
}

.image{
    position: left;
    top: 10px;
    left: 500px;
    width: 200px;
    height: 200px;
}

h1{
    text-align: relative;
    right: 100px;
    font-family: "Montserrat";
    font-size: 45px;
    text-shadow: 1px 1px 1px #001433;
    color: white;
}

.info{
    position: absolute;
    font-family: "Montserrat";

}

#patUsername{
    position: relative;
    border: white;
    left: 200px;
    top: -5px;
    width: 350px;
    height: 40px;
    text-align:center;
    font-family: "Montserrat";
    font-size: large;
}

#patPassword{
    position: relative;
    border: white;
    left: 200px;
    top: 20px;
    width: 350px;
    height: 40px;
    text-align: center;
    font-family: "Montserrat";
    font-size: large;
}

.login{
    position: relative;
    top: 50px;
    left: 270px;
    width: 200px;
    height: 40px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    background-color: #76f572;
    border: 2px #60f15b;
    color: white;
}

.register{
    position: relative;
    top: 100px;
    left: 65px;
    width: 200px;
    height: 40px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    background-color: #76f572;
    border: 2px #60f15b;
    color: white;
}

#forgotPass{
    font-family: "Montserrat";
    position: relative;
    top: 180px;
    right: 160px;
}